{% extends 'influencer/base.html' %}

{% block content %}
<div class="hstack gap-2">
<div class= "vstack gap-4">
<img class= "rounded" style="max-height: 300px;" src="https://cdn.dribbble.com/users/5534/screenshots/14230133/profile_4x.jpg" />
</div>
<div class = "vstack gap-4 mx-5">
  <div class="display-4"> Welcome {{session['username']}}!</div>
  <div class="container-md">
    <div class="display-6"> Ongoing Campaigns:</div>
<div class="container-md">
    {% for request in campaigns %}
<div class="card" style="width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">{{request.campaign.name}}</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">{{request.payment_amount}}</h6>
  </div>
</div>
    {% endfor %}
    </div>
  </div>
  <div class="container-md">
    <div class="display-6"> New Requests:</div>
    <div class="container-md">
    {% for request in requests %}
<div class="card" style="width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">{{request.campaign.name}}</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">{{request.payment_amount}}</h6>
<a href="{{url_for("accept_request", ad_request_id=request.id)}}" class="btn btn-success"><i class="bi bi-check"></i></a>
<a href="{{url_for("negotiate_request", ad_request_id=request.id, amount=amount)}}" class="btn btn-warning"><i class="bi bi-cash"></i></a>
<a href="{{url_for("reject_request", ad_request_id=request.id)}}" class="btn btn-danger"><i class="bi bi-x"></i></a>
  </div>
</div>
    {% endfor %}
    </div>
  </div>
</div>
</div>
{% endblock%}
