{% extends 'influencer/base.html' %}

{% block content %}
<div class="d-flex flex-row justify-content-start align-items-start">
  <div class="vstack">
    <img class="rounded" style="max-height: 300px;"
      src="https://cdn.dribbble.com/users/5534/screenshots/14230133/profile_4x.jpg" />
    <div class="lead">Name: {{session["user"]["name"]}}</div>
    <div class="lead">ID: {{session["user"]["id"]}}</div>
    <div class="lead">Username: {{session["user"]["username"]}}</div>
    <div class="lead">Category: {{session["user"]["category"]}}</div>
  </div>
  <div class="vstack gap-4 mx-5">
    <div>
      <div class="display-6 my-2"> Ongoing Campaigns:</div>
      <div style="overflow-x:scroll; width:70vw;">
        <div class="d-flex flex-row" style="width:fit-content">
          {% for request in campaigns %}
          <div class="card mx-4 my-2" style="width: 20rem;">
            <div class="card-body">
              <h5 class="card-title">{{request.campaign.name}}</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">{{request.campaign.description}}</h6>
              <h6 class="card-subtitle mb-2 text-body-secondary">{{request.payment_amount}}</h6>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div>
      <div class="display-6"> New Requests:</div>
      <div style="overflow-x:scroll; width:70vw;">
        <div class="d-flex flex-row" style="width:fit-content">
          {% for request in incoming_requests %}
          <div class="card mx-4 my-2" style="width: 20rem;">
            <div class="card-body">
              <h5 class="card-title">{{request.campaign.name}}</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">{{request.campaign.description}}</h6>
              <h6 class="card-subtitle mb-2 text-body-secondary">{{request.payment_amount}}</h6>
              <a href="{{url_for('influencer_accept_request', ad_request_id=request.id)}}" class="btn btn-success"><i
                  class="bi bi-check"></i></a>
              <a href="{{url_for('influencer_negotiate_request', ad_request_id=request.id, amount=amount)}}"
                class="btn btn-warning"><i class="bi bi-cash"></i></a>
              <a href="{{url_for('influencer_reject_request', ad_request_id=request.id)}}" class="btn btn-danger"><i
                  class="bi bi-x"></i></a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div>
      <div class="display-6"> Sent Requests:</div>
      <div style="overflow-x:scroll; width:70vw;">
        <div class="d-flex flex-row" style="width:fit-content">
          {% for request in outgoing_requests %}
          <div class="card mx-4 my-2" style="width: 20rem;">
            <div class="card-body">
              <h5 class="card-title">{{request.campaign.name}}</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">{{request.campaign.description}}</h6>
              <h6 class="card-subtitle mb-2 text-body-secondary">{{request.payment_amount}}</h6>
              <a href="{{url_for(" influencer_reject_request", ad_request_id=request.id)}}" class="btn btn-danger"><i
                  class="bi bi-x"></i></a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}