{% extends 'influencer/base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% block content %}

<form name="search_form" class="hstack gap-2 px-5 mt-5 mx-2" method="post" action="{{url_for('influencer_find')}}"
  enctype="multipart/form-data">
  {{search_form.hidden_tag()}}
  <div class="vstack gap-2 border-end border-primary" style="width: 15vw;">
    <div class="display-6 mb-5">Filters: </div>
    <div class="">
      <p class="">
        {{search_form.date.name}}
      </p>
      {{search_form.date(class="form-control me-4")}}
    </div>
    <div class="">
      <p class="">
        {{search_form.revenue.name}}
      </p>
      {{search_form.revenue(class="form-control me-4")}}
    </div>
  </div>
  <div class="vstack gap-4 px-5 mx-5 my-2" style="width: 70vw;">
    <div class="hstack">
      {{search_form.query_string(class="form-control border-bottom border-primary", width="90%")}}
      {{search_form.search(class_="btn btn-primary", value="Search", width="10%")}}
    </div>
    <div class="container text-center">
      <div class="row row-cols-auto">
        {% for campaign in campaigns %}
        <div class="card col m-5" style="width:18rem">
          <div class="card-body">
            <i class="bi bi-calendar-x-fill"></i>
            <h5 class="card-title my-4">{{campaign.name}}</h5>
            <h6 class="card-subtitle my-4 mb-2 text-body-secondary">{{campaign.description}}</h6>
            <button type="button" class="btn btn-outline-success m-2" data-bs-toggle="modal"
              data-bs-target="#newAdRequestModal" data-bs-campaign-id={{campaign.id}}>New</button>
            <a href="{{url_for('campaign_page', campaign_id=campaign.id)}}" class="btn btn-warning m-2">View</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</form>



<div class="modal fade" id="newAdRequestModal" tabindex="-1" aria-labelledby="newAdRequestLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="newAdRequestModalLabel">New Ad Request</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ render_form(ad_request_form) }}
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>

  const modal = document.getElementById('newAdRequestModal')
  if (modal) {
    modal.addEventListener('show.bs.modal', event => {
      const trigger_button = event.relatedTarget
      const data = trigger_button.getAttribute('data-bs-campaign-id')
      const campaign_input = modal.querySelector('input[name="campaign_id"]')
      campaign_input.value = data
    })
  }
</script>
{% endblock %}