{% extends 'influencer/base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% from 'macros.html' import campaign_card with context %}

{% block content %}

<form name="search_form" class="d-flex flex-row justify-content-start align-items-start" method="post"
  action="{{url_for('influencer_find')}}" enctype="multipart/form-data">
  {{search_form.hidden_tag()}}
  <div class="d-flex flex-column p-4" style="width: 20vw; background: white; position: fixed; height: 100%;">
    <div class="display-6 mb-5">Filters: </div>
    <div class="">
      <p class="text-capitalize">
        {{search_form.date.name}}
      </p>
      {{search_form.date(class="form-control me-4")}}
    </div>
    <div class="">
      <p class="text-capitalize">
        {{search_form.revenue.name}}
      </p>
      {{search_form.revenue(class="form-control me-4")}}
    </div>
  </div>
  <div class="pt-5 d-flex flex-column justify-content-center align-items-center flex-grow-1 p-1"
    style="width: 70vw; margin-left: 20vw">
    <div class="d-flex flex-row mb-4" style="box-shadow: -10px 10px 10px 1px #e2e2e2; width: 80%">
      {{search_form.query_string(class="form-control rounded", width="60%")}}
      {{search_form.search(class_="btn", style="background: rgb(255,158,10);background: linear-gradient(137deg,
      rgba(255,158,10,1) 5%, rgba(255,10,108,1) 25%, rgba(45,39,255,1) 86%);color: white; font-weight: bold;",
      value="Search")}}
    </div>
    <div class="d-flex flex-wrap justify-content-center p-1 mt-4">
      {% for campaign in campaigns %}
      {{campaign_card(campaign)}}
      {% endfor %}
    </div>
  </div>
</form>



<div class="modal fade" id="newAdRequestModal" tabindex="-1" aria-labelledby="newAdRequestLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="newAdRequestModalLabel">New Ad Request</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ render_form(ad_request_form) }}
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>

  const modal = document.getElementById('newAdRequestModal')
  if (modal) {
    modal.addEventListener('show.bs.modal', event => {
      const trigger_button = event.relatedTarget
      const data = trigger_button.getAttribute('data-bs-campaign-id')
      const campaign_input = modal.querySelector('input[name="campaign_id"]')
      campaign_input.value = data
    })
  }
</script>
{% endblock %}