{% if 'type' in session.keys() %}
{% if session['type'] == 'Sponsor' %}
{% extends 'sponsor/base.html'%}
{% elif session['type'] == 'Influencer' %}
{% extends 'influencer/base.html'%}
{% else %}
{% extends 'base.html'%}
{% endif %}
{% else %}
{% extends 'base.html'%}
{% endif %}
{% block content %}

{% macro render_form_element(element, disabled) %}
<div class="d-flex m-2">
  <label class="form-label mt-2 me-2">
    {{element.label}}
  </label>
  {{element(class="form-control", disabled=disabled)}}
</div>
{% endmacro %}

<div class="d-flex justify-content-center align-items-center" style="width: 100%;">
  <form class="d-flex flex-column p-5 justify-content-center align-items-center rounded" name="profile_form"
    method="post" action="{{url_for('influencer_profile', influencer_id=influencer.id)}}" enctype="multipart/form-data"
    style="width: 30vw; background: white;box-shadow: -10px 10px 10px 1px #d2d2d2;margin-top: 10vh;">
    {{update_form.hidden_tag()}}
    <img style="width: 150px; height: 150px; object-fit: cover; border: solid 1px black; border-radius: 50%"
      src="https://i.pinimg.com/736x/5c/10/48/5c1048361d7c3c5d52570c760cb6c4ce.jpg" />
    {{ render_form_element(update_form.name, disabled) }}
    {{ render_form_element(update_form.username, disabled) }}
    {{ render_form_element(update_form.category, disabled) }}
    <div class="d-flex m-2">
      <label class="form-label mt-2 me-2">
        {{update_form.niche.label}}
      </label>
      {{update_form.niche(list="niche_list", class="form-control", disabled=disabled)}}
    </div>
    <datalist id="niche_list">
      {% for niche in niches%}
      <option value="{{niche}}">
        {% endfor %}
    </datalist>
    {{ render_form_element(update_form.budget, disabled) }}
    {% if not disabled%}
    {{update_form.update(class_="btn btn-primary", value="Update", width="10%")}}
    {% endif %}
  </form>
</div>
{% endblock %}