{% extends 'sponsor/base.html' %}
{% block content %}
{% from 'bootstrap5/form.html' import render_form %}

<div class="container gap-5 mx-auto">
  <button type="button" class="m-5 btn btn-outline-primary" data-bs-toggle="modal"
    data-bs-target="#newCampaignModal">New</button>
  <div class="d-flex flex-row" style="flex-wrap:wrap;">
    {% for campaign in campaigns %}
    <div class="card m-4" style="width: 24rem;">
      <div class="card-body">
        <h5 class="card-title"><i class="bi bi-file-earmark-richtext-fill"></i>:{{campaign.name}}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">{{campaign.description}}</p>
          <a href="{{url_for('sponsor_delete_campaign', campaign_id = campaign.id)}}" class="btn btn-outline-danger">
            Delete</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


{% endblock %}