{% extends 'sponsor/base.html' %}

{% from 'bootstrap5/form.html' import render_form %}
{% from 'macros.html' import ad_request_row with context %}


{% macro campaign_row(campaign) %}
<tr>
  <td style="background-color: white;">{{campaign.name}}</td>
  <td style="background-color: white;">{{campaign.niche}}</td>
  <td style="background-color: white;">{{campaign.budget}}</td>
  {% if campaign.visibility %}
  <td style="background-color: white;">Public</td>
  {% else %}
  <td style="background-color: white;">Private</td>
  {% endif %}
  <td style="background-color: white;">
    <a href="{{url_for('campaign_page', campaign_id = campaign.id)}}" class="btn btn-success pt-1 px-2"
      style="padding: 0;"><i class="bi bi-eye-fill"></i> </a>
    <button type="button" class="btn btn-warning pt-1 px-2" style="padding: 0;" data-bs-toggle="modal"
      data-bs-target="#campaignModal" data-bs-title="Update Campaign" data-bs-campaign-id={{campaign.id}}
      data-bs-campaign-name="{{campaign.name}}" data-bs-campaign-description="{{campaign.description}}"
      data-bs-campaign-start-date="{{campaign.start_date}}" data-bs-campaign-end-date="{{campaign.end_date}}"
      data-bs-campaign-budget={{campaign.budget}} data-bs-campaign-visibility={{campaign.visibility}}
      data-bs-campaign-goals="{{campaign.goals}}" data-bs-campaign-niche="{{campaign.niche}}"><i
        class="bi bi-pencil-square"></i></button>
    <a class='btn btn-danger pt-1 px-2' style="padding: 0;"
      href="{{url_for('sponsor_delete_campaign', campaign_id=campaign.id)}}"><i class="bi bi-x"></i></a>
  </td>
</tr>
{% endmacro %}

{% block content %}
<div class="d-flex flex-column justify-content-center m-5 mt-3">
  <div class="banner bg-dark py-4 ps-3 rounded mb-2"
    style="background: linear-gradient(200deg, rgba(255,158,10,1) 5%, rgba(255,10,108,1) 25%, rgba(45,39,195,1) 92%);">
    <h1 class="ms-4 display-6 text-capitalize" style="color:white; font-weight: bolder;">Hi, {{session["user"]["name"]}}
    </h1>
  </div>
  <div class="p-3 m-2 rounded" style="background: white;box-shadow: -10px 10px 10px 1px #d2d2d2;">
    <div class="d-flex flex-row justify-content-between">
      <div class="h2 m-4 mb-2"> Campaigns</div>
      <button type="button" class="btn" style="font-size: 28px;" data-bs-toggle="modal" data-bs-target="#campaignModal"
        data-bs-title="New Campaign"><i class="bi bi-plus-circle"></i></button>
    </div>
    <div style="height: 30vh; overflow-y: auto;">
      <table class="listing table">
        <thead>
          <tr>
            <th style="background-color: white;" scope="col">Name</th>
            <th style="background-color: white;" scope="col">Niche</th>
            <th style="background-color: white;" scope="col">Budget</th>
            <th style="background-color: white;" scope="col">Visibility</th>
            <th style="background-color: white;" scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for campaign in campaigns %}
          {{campaign_row(campaign)}}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="p-3 m-2 rounded" style="background: white;box-shadow: -10px 10px 10px 1px #d2d2d2;">
    <div class="h2 m-4 mb-2"> Ad Requests</div>
    <div style="height: 30vh; overflow-y: auto;">
      <table class="listing table">
        <thead>
          <tr>
            <th style="background-color: white;" scope="col">Campaign Name</th>
            <th style="background-color: white;" scope="col">Influencer</th>
            <th style="background-color: white;" scope="col">Payment</th>
            <th class="text-center" style="background-color: white;" scope="col">Status</th>
            <th style="background-color: white;" scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for ad_request in ad_requests %}
          {{ad_request_row(ad_request)}}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="modal fade" id="campaignModal" tabindex="-1" aria-labelledby="campaignModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded" style="background: #e6e6e6;">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="campaignModalHeading"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post" enctype="multipart/form-data" action="{{url_for('sponsor_dashboard')}}"
        class="modal-body d-flex flex-column justify-content-center">
        {{ form.hidden_tag() }}
        <div style="display: none;">
          {{form.campaign_id(class="form-control me-4")}}
        </div>
        <div class="mb-3">
          <label class="text-capitalize">
            {{form.name.label}}
          </label>
          {{form.name(class="form-control me-4")}}
        </div>
        <div class="mb-3">
          <label class="text-capitalize">
            {{form.description.label}}
          </label>
          {{form.description(class="form-control me-4")}}
        </div>
        <div class="d-flex flex-row mb-3 justify-content-evenly">
          <div class="d-flex flex-column pe-1 me-1">
            <label class="text-capitalize">
              {{form.start_date.label}}
            </label>
            {{form.start_date(class="form-control me-4")}}
          </div>
          <div class="d-flex flex-column pe-1 me-1">
            <label class="text-capitalize">
              {{form.end_date.label}}
            </label>
            {{form.end_date(class="form-control me-4")}}
          </div>
        </div>
        <div class="d-flex flex-row mb-3 justify-content-evenly">
          <div class="d-flex flex-column pe-1 me-1">
            <label class="text-capitalize">
              {{form.budget.label}}
            </label>
            {{form.budget(class="form-control me-4")}}
          </div>
          <div class="d-flex form-check pt-5 mx-5">
            {{form.visibility(class="form-check-input")}}
            <label class="text-capitalize form-check-label" for="visibility">
              Public
            </label>
          </div>
        </div>
        <div class="mb-3">
          <label class="text-capitalize" for="niche">
            {{form.niche.label}}
          </label>
          {{form.niche(class="form-control me-4")}}
        </div>
        <div class="mb-3">
          <label class="text-capitalize" for="goals">
            {{form.goals.label}}
          </label>
          {{form.goals(class="form-control me-4")}}
        </div>
        {{form.add(class="btn btn-primary me-4")}}
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="adRequestModal" tabindex="-1" aria-labelledby="adRequestModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded" style="background: #e6e6e6;">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="adRequestModalHeading">Update Ad Request</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post" enctype="multipart/form-data" action="{{url_for('sponsor_dashboard')}}"
        class="modal-body d-flex flex-column justify-content-center">
        {{ ad_request_form.hidden_tag() }}
        <div style="display: none;">
          {{ad_request_form.ad_request_id(class="form-control me-4")}}
        </div>
        <div style="display: none;">
          {{ad_request_form.payment_amount(class="form-control me-4")}}
        </div>
        <div class="mb-3">
          <label class="text-capitalize">
            {{ad_request_form.influencer_id.label}}
          </label>
          {{ad_request_form.influencer_id(class="form-control me-4")}}
        </div>
        <div class="mb-3">
          <label class="text-capitalize">
            {{ad_request_form.campaign_id.label}}
          </label>
          {{ad_request_form.campaign_id(class="form-control me-4")}}
        </div>
        <div class="mb-3">
          <label class="text-capitalize">
            {{ad_request_form.messages.label}}
          </label>
          {{ad_request_form.messages(class="form-control me-4")}}
        </div>
        <div class="mb-3">
          <label class="text-capitalize">
            {{ad_request_form.requirements.label}}
          </label>
          {{ad_request_form.requirements(class="form-control me-4")}}
        </div>
        {{ad_request_form.submit(class="btn btn-primary me-4")}}
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="negotiateModal" tabindex="-1" aria-labelledby="campaignModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded" style="background: #e6e6e6;">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post" enctype="multipart/form-data" action="{{url_for('sponsor_negotiate_request')}}"
        class="modal-body d-flex flex-column justify-content-center">
        {{ negotiate_form.hidden_tag() }}
        <div style="display: none;">
          {{negotiate_form.ad_request_id(class="form-control me-4")}}
        </div>
        <div class="mb-3">
          <label class="text-capitalize">
            {{negotiate_form.payment_amount.label}}
          </label>
          {{negotiate_form.payment_amount(class="form-control me-4")}}
        </div>
        {{negotiate_form.submit(class="btn btn-primary me-4")}}
      </form>
    </div>
  </div>
</div>


{% endblock%}

{% block scripts %}
<script>
  const negotiate_payment_modal = document.getElementById('negotiateModal')

  negotiate_payment_modal.addEventListener('show.bs.modal', event => {
    const button = event.relatedTarget
    const ad_request_id = button.getAttribute('data-bs-ad-request-id')
    negotiate_payment_modal.querySelector('#ad_request_id').setAttribute('value', ad_request_id);
  });

  const modal = document.getElementById('campaignModal')
  if (modal) {
    modal.addEventListener('show.bs.modal', event => {
      const button = event.relatedTarget
      const title_el = modal.querySelector('#campaignModalHeading');
      title_el.innerHTML = button.getAttribute('data-bs-title')
      const campaign_id = button.getAttribute('data-bs-campaign-id')
      if (campaign_id) {
        modal.querySelector('#campaign_id').setAttribute('value', campaign_id);
        modal.querySelector('#name').setAttribute('value', button.getAttribute('data-bs-campaign-name'));
        modal.querySelector('#description').setAttribute('value', button.getAttribute('data-bs-campaign-description'));
        modal.querySelector('#start_date').setAttribute('value', button.getAttribute('data-bs-campaign-start-date'));
        modal.querySelector('#end_date').setAttribute('value', button.getAttribute('data-bs-campaign-end-date'));
        modal.querySelector('#budget').setAttribute('value', button.getAttribute('data-bs-campaign-budget'));
        modal.querySelector('#visibility').setAttribute('checked', button.getAttribute('data-bs-campaign-visibility'));
        modal.querySelector('#niche').setAttribute('value', button.getAttribute('data-bs-campaign-niche'));
        modal.querySelector('#goals').setAttribute('value', button.getAttribute('data-bs-campaign-goals'));
      }
    })
    modal.addEventListener('hide.bs.modal', event => {

      modal.querySelector('#campaign_id').setAttribute('value', '');
      modal.querySelector('#name').setAttribute('value', '');
      modal.querySelector('#description').setAttribute('value', '');
      modal.querySelector('#start_date').setAttribute('value', '');
      modal.querySelector('#end_date').setAttribute('value', '');
      modal.querySelector('#budget').setAttribute('value', '');
      modal.querySelector('#visibility').setAttribute('checked', false);
      modal.querySelector('#niche').setAttribute('value', '');
      modal.querySelector('#goals').setAttribute('value', '');
    })
  }
  const ad_request_modal = document.getElementById('adRequestModal');
  console.log(ad_request_modal);
  if (ad_request_modal) {
    ad_request_modal.addEventListener('show.bs.modal', event => {
      const button = event.relatedTarget
      const ad_request_id = button.getAttribute('data-bs-ad-request-id')
      if (ad_request_id) {
        ad_request_modal.querySelector('#ad_request_id').setAttribute('value', button.getAttribute('data-bs-ad-request-id'));
        Array.from(ad_request_modal.querySelector('#influencer_id').options).find(option => option.value === button.getAttribute('data-bs-ad-request-influencer-id')).setAttribute('selected', true);
        Array.from(ad_request_modal.querySelector('#campaign_id').options).find(option => option.value === button.getAttribute('data-bs-ad-request-campaign-id')).setAttribute('selected', true);
        ad_request_modal.querySelector('#messages').setAttribute('value', button.getAttribute('data-bs-ad-request-message'));
        ad_request_modal.querySelector('#requirements').setAttribute('value', button.getAttribute('data-bs-ad-request-requirements'));
        ad_request_modal.querySelector('#payment_amount').setAttribute('value', button.getAttribute('data-bs-ad-request-payment-amount'));
      }
    })
  }
</script>
{% endblock %}