{% if 'type' in session.keys() %}
{% if session['type'] == 'Sponsor' %}
{% extends 'sponsor/base.html'%}
{% elif session['type'] == 'Influencer' %}
{% extends 'influencer/base.html'%}
{% else %}
{% extends 'base.html'%}
{% endif %}
{% else %}
{% extends 'base.html'%}
{% endif %}
{% block content %}

{% macro render_form_element(element, disabled) %}
<div class="hstack gap-2">
  <label class="form-label" style="width: 5%">
    {{element.label}}:
  </label>
  {{element(class="form-control border-bottom border-primary me-4", style="width: 90%", disabled=disabled)}}
</div>
{% endmacro %}

<form class="vstack gap-4" name="profile_form" method="post"
  action="{{url_for('sponsor_profile', sponsor_id=sponsor.id)}}" enctype="multipart/form-data">
  {{update_form.hidden_tag()}}
  {{ render_form_element(update_form.name, disabled) }}
  {{ render_form_element(update_form.username, disabled) }}
  {{ render_form_element(update_form.industry, disabled) }}
  {{ render_form_element(update_form.budget, disabled) }}
  {% if not disabled%}
  {{update_form.update(class_="btn btn-primary", value="Update", width="10%")}}
  {% endif %}
</form>
{% endblock %}