{% if 'type' in session.keys() %}
{% if session['type'] == 'Sponsor' %}
{% extends 'sponsor/base.html'%}
{% elif session['type'] == 'Influencer' %}
{% extends 'influencer/base.html'%}
{% else %}
{% extends 'base.html'%}
{% endif %}
{% else %}
{% extends 'base.html'%}
{% endif %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
<div class="d-flex my-4 justify-content-center align-items-center">
  {% include 'campaign/card.html' %}
  {% include 'campaign/showcase.html' %}
</div>

<div class="modal fade" id="newAdRequestModal" tabindex="-1" aria-labelledby="newAdRequestLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="newAdRequestModalLabel">New Ad Request</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ render_form(form) }}
      </div>
    </div>
  </div>
</div>

{% endblock %}